<!DOCTYPE html>
<html lang="en-us">

<head>

    <title>Home | stAnalytics</title>

    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="author" content="Jerred Shepherd">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="theme-color" content="#00ADB5"/>
    <meta name="msapplication-navbutton-color" content="#00ADB5"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="#00ADB5"/>

    <link rel="icon" sizes="192x192" href="highres.png">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pure/0.6.2/pure-min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pure/0.6.2/grids-responsive-min.css">

    <script src="https://use.fontawesome.com/70f3492f90.js" async></script>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>

</head>

<body>
<div id="app">
    <navigation></navigation>
</div>

<script src="js/app.js"></script>
</body>

</html>